@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="form">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="name" name="姓名" required="required"/>
                            <#dictSelector id="sex" label="性别" code="sys_sex" required="required"/>
                            <#input id="heigh" name="身高" required="required"/>
                            <#input id="nation" name="籍贯" required="required"/>
                            <#input id="idNo" name="身份证号" required="required"/>
                            <#input id="remark" name="备注" required="required"/>
                </div>

                <div class="col-sm-6">
               				<#input id="address" name="居住地" required="required"/>
                            <#dictSelector id="csType" label="涉案类别" code="case_type" required="required"/>
                            <#input id="graspDate" name="抓获日期" required="required"/>
                           <!--  <#input id="graspUnit" name="抓获单位"/> -->
                             <#input id="citySel" name="抓获单位" readonly="readonly" hidden="graspUnit" 
								clickFun="CriminalSuspectInfoDlg.showDeptSelectTree(); return false;"
								style="background-color: #ffffff !important;" required="required"/>
                             <#input id="birthday" name="出生日期" required="required"/>
                           
                </div>
            </div>

			 <!-- 这是部门选择的下拉框 -->
			<div id="menuContent" class="menuContent"
				 style="display: none; position: absolute; z-index: 200;">
				<ul id="treeDemo" class="ztree tree-box" style="width: 249px !important;"></ul>
			</div>


            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CriminalSuspectInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CriminalSuspectInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/footprint/criminalSuspect/criminalSuspect_info.js"></script>
<script>
	laydate.render({
	    elem: '#birthday'
	});
    laydate.render({
        elem: '#graspDate'
    });
</script>
@}
