@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <!-- <#input id="caseNo" name="案件编号" /> -->
                            <#input id="crimesPersonNum" name="作案人数" />
                            <#input id="caseAddress" name="案发地点" />
                            <#input id="citySel" name="所属单位" readonly="readonly" hidden="unit" 
								clickFun="CaseInfoInfoDlg.showDeptSelectTree(); return false;"
								style="background-color: #ffffff !important;"/>
                            <#input id="stolenGoods" name="被盗物品"/>
                            <#input id="caseDesc" name="简要案情" />
                </div>

                <div class="col-sm-6">
                			<#input id="caseTm" name="案发时间" />
                            <#dictSelector id="caseType" label="案件类别" code="case_type"/>
                            <#dictSelector id="intrusionMode" label="侵入方式" code="intrusion_mode" />
                            <#dictSelector id="caseState" label="案件状态" code="case_status" />
                           
                </div>
            </div>
            
            
            <!-- 这是部门选择的下拉框 -->
			<div id="menuContent" class="menuContent"
				 style="display: none; position: absolute; z-index: 200;">
				<ul id="treeDemo" class="ztree tree-box" style="width: 249px !important;"></ul>
			</div>
            
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CaseInfoInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CaseInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/footprint/caseInfo/caseInfo_info.js"></script>
<script type="text/javascript">
laydate.render({
    elem: '#caseTm',
    type: 'datetime'
});
</script>
@}
