@layout("/common/_container.html"){
<style>
.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
ul li {
	float: left;
	margin: 0px 5px 20px 5px;
	list-style: none;
}
li{
	margin: 0 0 0 5px;
}
</style>
           <!-- <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="caseNo" name="案件编号" value="${item.caseNo}" underline="true"/>
                            <#input id="caseState" name="案件状态" value="${item.caseState}" underline="true"/>
                            <#input id="caseTm" name="案发时间" value="${item.caseTm}" underline="true"/>
                            <#input id="caseAddress" name="案发地点" value="${item.caseAddress}" underline="true"/>
                            <#input id="unit" name="所属单位" value="${item.unit}" underline="true"/>
                            <#input id="caseDesc" name="简要案情" value="${item.caseDesc}" underline="true"/>
                            <#input id="caseType" name="案件类别" value="${item.caseType}" underline="true"/>
                            <#input id="intrusionMode" name="侵入方式" value="${item.intrusionMode}" underline="true"/>
                            <#input id="stolenGoods" name="被盗物品" value="${item.stolenGoods}" />
                </div>

                <div class="col-sm-6">
                            <#input id="crimesPersonNum" name="作案人数" value="${item.crimesPersonNum}" underline="true"/>
                            <#input id="status" name="状态" value="${item.status}" underline="true"/>
                            <#input id="delStatus" name="是否删除" value="${item.delStatus}" underline="true"/>
                            <#input id="updUserId" name="最后修改人" value="${item.updUserId}" underline="true"/>
                            <#input id="updOrgId" name="最后修改机构" value="${item.updOrgId}" underline="true"/>
                            <#input id="updTm" name="最后修改时间" value="${item.updTm}" underline="true"/>
                            <#input id="crtUserId" name="创建人" value="${item.crtUserId}" underline="true"/>
                            <#input id="crtOrgId" name="创建机构id" value="${item.crtOrgId}" underline="true"/>
                            <#input id="crtTm" name="创建时间" value="${item.crtTm}" />
                </div>
            </div> -->
	            	<div class="ibox float-e-margins">
		   				 <div class="ibox-content">
		            		 <div class="form-horizontal" id="form">
				             	<div class="row">
					                <div class="col-sm-6 b-r">
					                            <#input id="caseNo" name="案件编号" value="${item.caseNo}" readonly="readonly" required="required"/>
					                            <#input id="crimesPersonNum" name="作案人数" value="${item.crimesPersonNum}" required="required"/>
					                            <#input id="caseAddress" name="案发地点" value="${item.caseAddress}" required="required"/>
					                            <#input id="citySel" name="所属单位" readonly="readonly" hidden="unit" hiddenValue="${item.unit}" value="${item.unitName}" 
													clickFun="CaseInfoInfoDlg.showDeptSelectTree(); return false;"
													style="background-color: #ffffff !important;" required="required"/>
					                            <#input id="stolenGoods" name="被盗物品" value="${item.stolenGoods}" required="required"/>
					                            
					                </div>
					                <div class="col-sm-6">
					                			<#input id="caseTm" name="案发时间" value="${caseTm}" required="required"/>
					                            <#dictSelector id="caseType" label="案件类别" code="case_type"  value="${item.caseType}" required="required"/>
					                            <#dictSelector id="intrusionMode" label="侵入方式" code="intrusion_mode" value="${item.intrusionMode}" required="required"/>
					                            <#dictSelector id="caseState" label="案件状态" code="case_status"  value="${item.caseState}" required="required"/>
					                            <#input id="caseDesc" name="简要案情" value="${item.caseDesc}" required="required"/>
					                </div>
				                </div>
				                <div class="row">
                					<div id="filePicker">选择脚印</div>
									<!-- <div class="col-sm-12 b-r" id="images"></div> -->
									<ul id="images"></ul>
									<input type="hidden" id="selectImages" value="${item.selectImages}">
								</div>
								<!-- 这是部门选择的下拉框 -->
								<div id="menuContent" class="menuContent"
									 style="display: none; position: absolute; z-index: 200;">
									<ul id="treeDemo" class="ztree tree-box" style="width: 249px !important;"></ul>
								</div>
					            <div class="row btn-group-m-t">
					                <div class="col-sm-10">
					                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CaseInfoInfoDlg.editSubmit()"/>
					                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CaseInfoInfoDlg.close()"/>
					                </div>
					            </div>
			                </div>
		                </div>
               	 	</div>
            
 			

<script src="${ctxPath}/static/modular/footprint/caseInfo/caseInfo_info.js"></script>
<script src="${ctxPath}/static/modular/footprint/caseInfo/common_image_v2.js"></script>
<script type="text/javascript">
var footprints = [];
@for(footprint in footprints){
	 var footprint = {
		fpNo: '${footprint.fpNo}',
		originalImg: '${footprint.originalImg}'
	 }
	 footprints.push(footprint);
@}
function getfootprint(img){
	for(var i = 0 ; i < footprints.length; i++){
		if(img == footprints[i].originalImg){
			return footprints[i];
		}
	}
	return null;
}
laydate.render({
    elem: '#caseTm',
    type: 'datetime',
    format: 'yyyy-MM-dd HH:mm:ss'
});
var uploader = WebUploader.create({
    // 选完文件后，是否自动上传。
    auto: true,
    // swf文件路径
    swf: '/static/js/plugins/webuploader/Uploader.swf',
    // 文件接收服务端。
    server: '/mgr/upload',
    // 选择文件的按钮。可选。
    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
    pick: '#filePicker',
    // 只允许选择图片文件。
    accept: {
        title: 'Images',
        extensions: 'gif,jpg,jpeg,bmp,png',
        mimeTypes: 'image/*'
    }
});
uploader.on( 'uploadSuccess', function( file ,response) {
	$("#selectImages").val($("#selectImages").val()+","+response)
	setAddImage(response);
});
$(function(){
	showImages();
})

var index ;
function editImageInfo(id){
	index = layer.open({
		  type: 2,
		  title: '足迹信息',
		  shadeClose: true,
		  shade: false,
		  maxmin: true, //开启最大化最小化按钮
		  area: ['380px', '360px'],
		  shadeClose: true, //开启遮罩关闭
		  content: "/caseInfo/imageInfo_v2" ,
		  btn : [ '提交','关闭' ],
		  btn1: function(index, layero){
			  //layero.layerfunction();
			  var flag = window[layero.find('iframe')[0]['name']].FootprintInfoDlg.validate();
			  if(flag){
				  var info = window[layero.find('iframe')[0]['name']].imageInfo();
				  info.id = id ;
				  addInfo(image_infos,info);
				  var infoId = "#info"+id.split(".")[0] ;
				  $(infoId).empty();
				  $(infoId).append(getInfoStr('',info.positionName,info.legacyModeName,info.extractionMethodName,id));
				  layer.close(index);
				  return true;
			  }
			  return false;
		  },
		  end:function(){
			  
		  }
	});
}
var image_infos = [] ;
function addInfo(arr,info){
	var index = -1; 
	for(var i = 0 ; i < arr.length ; i++ ){
		if(arr[i].id == info.id){
			index = i ;
		}
	}
	if(index != -1){
		arr.splice(index,1,info);
	}else{
		arr.push(info);
	}
}
function removeInfo(arr,id){
	var index = -1;
	for(var i = 0 ; i < arr.length ; i++ ){
		if(arr[i].id == id){
			index = i ;
		}
	}
	if(index != -1){
		arr.splice(index,1);
	}
}
/**
 * 提交添加
 */
addSubmit_v2 = function() {
    CaseInfoInfoDlg.clearData();
    CaseInfoInfoDlg.collectData();
    var d = CaseInfoInfoDlg.caseInfoInfoData ;
    d.imageInfos = image_infos ;
	$.ajax({
		   type: "POST",
		   url: "add_v2",
		   contentType:"application/json",
		   dataType:"json",
		   data: JSON.stringify(d),
		   success: function(msg){
			   Feng.success("添加成功!");
			   CaseInfoInfoDlg.close();
		   }
	});
    
}
</script>
@}
