@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="brand" name="品牌" />
                            <#input id="remark" name="备注" />
                </div>

                <div class="col-sm-6">
                			<div id="filePicker">选择图片</div>
							<div class="col-sm-12 b-r" id="images"/>
                </div>
                <input type="hidden" id="url" >
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ShoesDemoInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ShoesDemoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/footprint/shoesDemo/shoesDemo_info.js"></script>
<script src="${ctxPath}/static/modular/footprint/shoesDemo/common_image.js"></script>
<script type="text/javascript">
	uploader.on( 'uploadSuccess', function( file ,response) {
	   $("#images").empty();
	   setImage("#url",response);
	});
</script>
@}
