@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="fpNo" name="足迹编号" value="${item.fpNo}" underline="true"/>
                            <#input id="caseNo" name="案件编号" value="${item.caseNo}" underline="true"/>
                            <#input id="csNo" name="嫌疑人编号" value="${item.csNo}" underline="true"/>
                            <#input id="position" name="足迹遗留部位" value="${item.position}" underline="true"/>
                            <#input id="legacyMode" name="足迹遗留方式" value="${item.legacyMode}" underline="true"/>
                            <#input id="extractionMethod" name="足迹提取方式" value="${item.extractionMethod}" underline="true"/>
                            <#input id="originalImg" name="原始照片" value="${item.originalImg}" underline="true"/>
                            <#input id="newImg" name="处理后的照片" value="${item.newImg}" underline="true"/>
                            <#input id="length" name="长" value="${item.length}" />
                </div>

                <div class="col-sm-6">
                            <#input id="width" name="宽" value="${item.width}" underline="true"/>
                            <#input id="status" name="状态" value="${item.status}" underline="true"/>
                            <#input id="delStatus" name="是否删除" value="${item.delStatus}" underline="true"/>
                            <#input id="updUserId" name="最后修改人" value="${item.updUserId}" underline="true"/>
                            <#input id="updOrgId" name="最后修改机构" value="${item.updOrgId}" underline="true"/>
                            <#input id="updTm" name="最后修改时间" value="${item.updTm}" underline="true"/>
                            <#input id="crtUserId" name="创建人" value="${item.crtUserId}" underline="true"/>
                            <#input id="crtOrgId" name="创建机构id" value="${item.crtOrgId}" underline="true"/>
                            <#input id="crtTm" name="创建时间" value="${item.crtTm}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="FootprintInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="FootprintInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/footprint/footprint/footprint_info.js"></script>
@}
