@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="id" value="${item.id}" underline="true"/>
                            <#input id="empId" name="人员ID" value="${item.empId}" underline="true"/>
                            <#input id="comId" name="单位ID" value="${item.comId}" underline="true"/>
                            <#input id="empAmt" name="个人缴纳金额" value="${item.empAmt}" underline="true"/>
                            <#input id="comAmt" name="单位缴纳金额" value="${item.comAmt}" underline="true"/>
                            <#input id="payStatus" name="缴纳状态" value="${item.payStatus}" underline="true"/>
                            <#input id="dealTm" name="业务办理时间" value="${item.dealTm}" underline="true"/>
                            <#input id="operId" name="办理业务的用户ID" value="${item.operId}" underline="true"/>
                            <#input id="operOrgId" name="用户的机构ID" value="${item.operOrgId}" />
                </div>

                <div class="col-sm-6">
                            <#input id="status" name="状态" value="${item.status}" underline="true"/>
                            <#input id="delStatus" name="是否删除" value="${item.delStatus}" underline="true"/>
                            <#input id="updUserId" name="最后修改人" value="${item.updUserId}" underline="true"/>
                            <#input id="updOrgId" name="最后修改机构" value="${item.updOrgId}" underline="true"/>
                            <#input id="updTm" name="最后修改时间" value="${item.updTm}" underline="true"/>
                            <#input id="crtUserId" name="创建人" value="${item.crtUserId}" underline="true"/>
                            <#input id="crtOrgId" name="创建机构id" value="${item.crtOrgId}" underline="true"/>
                            <#input id="crtTm" name="创建时间" value="${item.crtTm}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AccEmpInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AccEmpInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/gs/accEmp/accEmp_info.js"></script>
@}
