<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.CaseInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.CaseInfo">
        <id column="case_no" property="caseNo" />
        <result column="case_state" property="caseState" />
        <result column="case_tm" property="caseTm" />
        <result column="case_address" property="caseAddress" />
        <result column="unit" property="unit" />
        <result column="case_desc" property="caseDesc" />
        <result column="case_type" property="caseType" />
        <result column="intrusion_mode" property="intrusionMode" />
        <result column="stolen_goods" property="stolenGoods" />
        <result column="crimes_person_num" property="crimesPersonNum" />
        <result column="status" property="status" />
        <result column="del_status" property="delStatus" />
        <result column="upd_user_id" property="updUserId" />
        <result column="upd_org_id" property="updOrgId" />
        <result column="upd_tm" property="updTm" />
        <result column="crt_user_id" property="crtUserId" />
        <result column="crt_org_id" property="crtOrgId" />
        <result column="crt_tm" property="crtTm" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        case_no, case_state, case_tm, case_address, unit, case_desc, case_type, intrusion_mode, stolen_goods, crimes_person_num, status, del_status, upd_user_id, upd_org_id, upd_tm, crt_user_id, crt_org_id, crt_tm
    </sql>

</mapper>
