<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.CriminalSuspectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.CriminalSuspect">
        <id column="cs_no" property="csNo" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="heigh" property="heigh" />
        <result column="nation" property="nation" />
        <result column="id_no" property="idNo" />
        <result column="birthday" property="birthday" />
        <result column="address" property="address" />
        <result column="cs_type" property="csType" />
        <result column="grasp_date" property="graspDate" />
        <result column="grasp_unit" property="graspUnit" />
        <result column="input_user" property="inputUser" />
        <result column="remark" property="remark" />
        <result column="status" property="status" />
        <result column="del_status" property="delStatus" />
        <result column="upd_user_id" property="updUserId" />
        <result column="upd_org_id" property="updOrgId" />
        <result column="upd_tm" property="updTm" />
        <result column="crt_user_id" property="crtUserId" />
        <result column="crt_org_id" property="crtOrgId" />
        <result column="crt_tm" property="crtTm" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cs_no, name, sex, heigh, nation, id_no, birthday, address, cs_type, grasp_date, grasp_unit, input_user, remark, status, del_status, upd_user_id, upd_org_id, upd_tm, crt_user_id, crt_org_id, crt_tm
    </sql>

</mapper>
