<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.ShoesDemoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.ShoesDemo">
        <id column="id" property="id" />
        <result column="brand" property="brand" />
        <result column="url" property="url" />
        <result column="length" property="length" />
        <result column="width" property="width" />
        <result column="remark" property="remark" />
        <result column="input_user" property="inputUser" />
        <result column="status" property="status" />
        <result column="del_status" property="delStatus" />
        <result column="upd_user_id" property="updUserId" />
        <result column="upd_org_id" property="updOrgId" />
        <result column="upd_tm" property="updTm" />
        <result column="crt_user_id" property="crtUserId" />
        <result column="crt_org_id" property="crtOrgId" />
        <result column="crt_tm" property="crtTm" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, brand, url, length, width, remark, input_user, status, del_status, upd_user_id, upd_org_id, upd_tm, crt_user_id, crt_org_id, crt_tm
    </sql>

</mapper>
