@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>足迹比对查询</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="form-horizontal" id="form">
                        <div class="row">
                            <div class="col-sm-3" >
                                <#input id="fpNo" name="足迹编号" style="width: 250px;" />
                            </div>
                            <div class="col-sm-3" >
                               <#dictSelector id="position" label="足迹遗留部位" code="position"  />
                            </div>
                        	<div class="col-sm-3" >
                               <#dictSelector id="legacyMode" label="足迹遗留方式" code="legacy_mode"  />
                            </div>
                            <div class="col-sm-3" >
                                <#dictSelector id="extractionMethod" label="足迹提取方式" code="extraction_method" /> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3" >
                               <#input id="caseNo" name="案件编号" style="width: 250px;" />
                            </div>
                            <div class="col-sm-3" >
                              <#dictSelector id="caseState" label="案件状态" code="case_status" />
                            </div>
                        	<div class="col-sm-3" >
                               <#input id="caseTmStart" name="案发开始时间" style="width: 250px;" />
                            </div>
                            <div class="col-sm-3" >
                                <#input id="caseTmEnd" name="案发开始时间" style="width: 250px;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3" >
                                <#input id="caseAddress" name="案发地点" style="width: 250px;" />
                            </div>
                            <div class="col-sm-3" >
                               <#input id="unitName" name="所属单位" style="width: 250px;" />
                            </div>
                        	<div class="col-sm-3" >
                               <#input id="caseDesc" name="简要案情" style="width: 250px;" />
                            </div>
                            <div class="col-sm-3" >
                                <#dictSelector id="caseType" label="案件类别" code="case_type" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3" >
                                <#dictSelector id="intrusionMode" label="侵入方式" code="intrusion_mode" />
                            </div>
                            <div class="col-sm-3" >
                               <#input id="stolenGoods" name="被盗物品"  style="width: 250px;"   />
                            </div>
                        	<div class="col-sm-3" >
                               <#input id="crimesPersonNum" name="作案人数"  style="width: 250px;"   />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" align="center">
                            	<#button name="搜索" icon="fa-search" clickFun="Footprint.search()"/>
                                 <#button name="重置" icon="fa-repeat" clickFun="Footprint.clearData()"/>
                                 
                                 <#button name="足迹比对" icon="fa-skyatlas" clickFun="footCompare()"/>
                                 
                                 <#button name="导出" icon="fa-repeat" clickFun="Footprint.exportExcel()"/>
                            </div>
                        </div>
                        <#table id="FootprintTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/footprint/footprint/show_common.js"></script>
<script type="text/javascript">
var indexPage = -1 ;
laydate.render({
    elem: '#caseTmStart',
    type: 'datetime'
});
laydate.render({
    elem: '#caseTmEnd',
    type: 'datetime'
});
/**
 * 足迹信息管理初始化
 */
var Footprint = {
    id: "FootprintTable",	//表格id
    seItem: null,		//选中的条目
    table: null,
    layerIndex: -1
};

/**
 * 初始化表格的列
 */
Footprint.initColumn = function () {
    return [
        {field: 'selectItem', radio: true},
            {title: '足迹编号', field: 'fpNo', visible: true, align: 'center', valign: 'middle'},
            {title: '足迹遗留部位', field: 'positionName', visible: true, align: 'center', valign: 'middle'},
            {title: '足迹遗留方式', field: 'legacyModeName', visible: true, align: 'center', valign: 'middle'},
            {title: '足迹提取方式', field: 'extractionMethodName', visible: true, align: 'center', valign: 'middle'},
            {title: '案件编号', field: 'caseNo', visible: true, align: 'center', valign: 'middle'},
            {title: '案件状态', field: 'caseStateName', visible: true, align: 'center', valign: 'middle'},
            {title: '案发时间', field: 'caseTm', visible: true, align: 'center', valign: 'middle'},
            {title: '案发地点', field: 'caseAddress', visible: true, align: 'center', valign: 'middle'},
            {title: '所属单位', field: 'unitName', visible: true, align: 'center', valign: 'middle'},
            {title: '简要案情', field: 'caseDesc', visible: true, align: 'center', valign: 'middle'},
            {title: '案件类别', field: 'caseTypeName', visible: true, align: 'center', valign: 'middle'},
            {title: '侵入方式', field: 'intrusionModeName', visible: true, align: 'center', valign: 'middle'},
            {title: '被盗物品', field: 'stolenGoods', visible: true, align: 'center', valign: 'middle'},
            {title: '作案人数', field: 'crimesPersonNum', visible: true, align: 'center', valign: 'middle'},
            {title: '创建人', field: 'createUserName', visible: true, align: 'center', valign: 'middle'},
            {title: '创建机构', field: 'createOrgName', visible: true, align: 'center', valign: 'middle'},
            {title: '创建时间', field: 'crtTm', visible: true, align: 'center', valign: 'middle'},
            {title: '图片', field: 'originalImg', visible: true, align: 'center', valign: 'middle',formatter:formatterImage}
    ];
};

function formatterImage(value,row,index){ 
	var html = "<img src='/kaptcha/"+value+"?t="+new Date().getTime()+"' width='200px' height='200px' class='img-thumbnail' onclick='openImage(\""+value+"\")'>";
	return html;
}

/**
 * 检查是否选中
 */
Footprint.check = function () {
    var selected = $('#' + this.id).bootstrapTable('getSelections');
    if(selected.length == 0){
        Feng.info("请先选中表格中的某一记录！");
        return false;
    }else{
        Footprint.seItem = selected[0];
        return true;
    }
};

/**
 * 点击添加足迹信息
 */
Footprint.openAddFootprint = function () {
    var index = layer.open({
        type: 2,
        title: '添加足迹信息',
        area: ['100%', '100%'], //宽高
        fix: false, //不固定
        maxmin: true,
        content: Feng.ctxPath + '/caseRelation/case_footprint_query'
    });
    this.layerIndex = index;
};

/**
 * 打开查看足迹信息详情
 */
Footprint.openFootprintDetail = function () {
    if (this.check()) {
        var index = layer.open({
            type: 2,
            title: '足迹信息详情',
            area: ['100%', '100%'], //宽高
            fix: false, //不固定
            maxmin: true,
            content: Feng.ctxPath + '/footprint/footprint_update/' + Footprint.seItem.fpNo
        });
        this.layerIndex = index;
    }
};

/**
 * 删除足迹信息
 */
Footprint.delete = function () {
    if (this.check()) {
        var ajax = new $ax(Feng.ctxPath + "/footprint/delete", function (data) {
            Feng.success("删除成功!");
            Footprint.table.refresh();
        }, function (data) {
            Feng.error("删除失败!" + data.responseJSON.message + "!");
        });
        ajax.set("footprintId",this.seItem.fpNo);
        ajax.start();
    }
};

Footprint.searchCon = function () {
	 	var queryData = {};
	    queryData['condition'] = $("#condition").val();
	    queryData['fpNo'] = $("#fpNo").val();
	    queryData['position'] = $("#position").val();
	    queryData['legacyMode'] = $("#legacyMode").val();
	    queryData['extractionMethod'] = $("#extractionMethod").val();
	    queryData['caseNo'] = $("#caseNo").val();
	    queryData['caseState'] = $("#caseState").val();
	    queryData['caseTmStart'] = $("#caseTmStart").val();
	    queryData['caseTmEnd'] = $("#caseTmEnd").val();
	    queryData['caseAddress'] = $("#caseAddress").val();
	    queryData['unitName'] = $("#unitName").val();
	    queryData['caseDesc'] = $("#caseDesc").val();
	    queryData['caseType'] = $("#caseType").val();
	    queryData['intrusionMode'] = $("#intrusionMode").val();
	    queryData['stolenGoods'] = $("#stolenGoods").val();
	    queryData['crimesPersonNum'] = $("#crimesPersonNum").val();
	    return queryData ;
}

/**
 * 查询足迹信息列表
 */
Footprint.search = function () {
   
    var queryData = this.searchCon();
    
    Footprint.table.refresh({query: queryData});
};
Footprint.exportExcel = function(){
	var queryData= "";
    queryData += 'fpNo='+$("#fpNo").val();
    queryData += '&position='+$("#position").val();
    queryData += '&legacyMode='+$("#legacyMode").val();
    queryData += '&extractionMethod='+$("#extractionMethod").val();
    queryData += '&caseNo='+$("#caseNo").val();
    queryData += '&caseState='+$("#caseState").val();
    queryData += '&caseTmStart='+$("#caseTmStart").val();
    queryData += '&caseTmEnd='+$("#caseTmEnd").val();
    queryData += '&caseAddress='+$("#caseAddress").val();
    queryData += '&unit='+$("#unitName").val();
    queryData += '&caseDesc='+$("#caseDesc").val();
    queryData += '&caseType='+$("#caseType").val();
    queryData += '&intrusionMode='+$("#intrusionMode").val();
    queryData += '&stolenGoods='+$("#stolenGoods").val();
    queryData += '&crimesPersonNum='+$("#crimesPersonNum").val();
	window.location.href="/caseRelation/UserExcelDownloads?"+queryData
}

Footprint.clearData = function (){
	$("#fpNo").val("");
	$("#position").val("");
	$("#legacyMode").val("");
	$("#extractionMethod").val("");
	
	$("#caseNo").val("");
	$("#caseState").val("");
	$("#caseTmStart").val("");
	$("#caseTmEnd").val("");
	$("#caseAddress").val("");
	$("#unitName").val("");
	$("#caseDesc").val("");
	$("#caseType").val("");
	$("#intrusionMode").val("");
	$("#stolenGoods").val("");
	$("#crimesPersonNum").val("");
}



var footCompareReSult ;

/**
 * 足迹比对
 */
function footCompare(){
	var r = Footprint.table.btInstance.bootstrapTable("getSelections") ;
	if(!r || r.length != 1){
		Feng.error("请选择一条足迹进行自动识别比对!");
		return ;
	}
	var record = r[0];
	var caseNo = record.caseNo ;
	var fpNo = record.fpNo ;
	
	indexPage = layer.open({
        type: 2,
        title: false,
        area: ['700px','100px'], //宽高
        fix: false, //不固定
        maxmin: false,
        closeBtn: 0,
        content: Feng.ctxPath + '/caseRelation/loading/' + caseNo + "/" + fpNo
    });
}


function showFootCompareResult(caseNo,fpNo){
	indexPage = layer.open({
        type: 2,
        title: "足迹比对结果",
        area: ['100%','100%'], //宽高
        fix: false, //不固定
        maxmin: false,
        content: Feng.ctxPath + '/caseRelation/autoCompareResult/' + caseNo + "/" + fpNo
    });
} 

$(function () {
    var defaultColunms = Footprint.initColumn();
    var table = new BSTable(Footprint.id, "/caseRelation/case_footprint_query", defaultColunms);
    table.setPaginationType("client");
    Footprint.table = table.init();
});

</script>
@}
