@layout("/common/_container.html"){
	<div class="progress">
	  <div id="prog" class="progress-bar progress-bar-striped  progress-bar-animated active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
	    <span class="sr-only">0% Complete</span>
	  </div>
	</div>
	 <span id="info">足迹比对中......</span>
<script type="text/javascript">
var value = 0;
var fpNo = '${fpNo}' ;
var caseNo = '${caseNo}' ;
var flag = false ;
var CHANGE_TIME = 10 ;
function show(value){
   $("#prog").css("width",value + "%").text(value + "%");
   if(value == 99 && !flag){
	   setTimeout(function(){ 
			show(value);
	   }, CHANGE_TIME);
	   return ;
   }
   if(value == 100){
	   $("#info").empty();
	   $("#info").append("足迹比对完成!")
	   Feng.success("足迹比对完成!");
	   
	   setTimeout(function(){
		   parent.layer.close(window.parent.indexPage);
		   parent.showFootCompareResult('${caseNo}','${fpNo}');
		}, 2000);
	   return;
   }
   setTimeout(function(){ 
		value++
		show(value);
	}, CHANGE_TIME);
}
setTimeout(function(){ 
	value++
	show(value);
}, CHANGE_TIME);

var footprint ;
	$.ajax({
		type : "GET",
		async: true ,
		url : "/caseRelation/autoCompare/${caseNo}/${fpNo}",
		dataType : "json",
		success : function(data) {
			flag = true ;
			footprint = data ;
			parent.footCompareReSult = data ;
		}
	});
</script>
@}
